<h1>Contactez nous</h1>

<p>Email: <%= @email %></p>
<p>Phone: <%= @phone %></p>
<p>Address: <%= @address %></p>

<h2>Follow Us on Social Media</h2>

<p>fessebouc: <%= "Gnagna/facebook" %></p>
<p>instagrain: <%= "Blabla/instagram" %></p>
<p>twiteur: <%= "gneugneu/twiteur" %></p>