<!DOCTYPE html>
<html>
<head>
  <title>Profil de <%= @user.first_name %></title>
</head>
<body>
<h1>Profil de <%= @user.first_name %></h1>
<p><strong>Nom:</strong> <%= @user.last_name %></p>
<p><strong>Email:</strong> <%= @user.email %></p>
<p><strong>Age:</strong> <%= @user.age %></p>
<p><strong>Description:</strong> <%= @user.description %></p>
<p><strong>City:</strong> <%= @user.city.name %></p>

<h2>Potins publiés par <%= @user.first_name %></h2>
<ul>
  <% @gossips.each do |gossip| %>
    <li><%= gossip.title %></li>
    <!-- Affichez d'autres informations sur le potin au besoin -->
  <% end %>
</ul>
</body>
</html>
