<!DOCTYPE html>
<html>
<head>
  <title>Liste des potins</title>
</head>
<body>
<h1>Liste des potins</h1>

<% if flash[:success] %>
  <div class="alert alert-success">
    <%= flash[:success] %>
  </div>
<% end %>

<div class="card-container">
  <% background_cards = ["pastel-blue", "pastel-pink", "pastel-green", "pastel-yellow", "pastel-orange", "pastel-purple"] %>
  <% @gossips.each do |gossip| %>
    <div class="card <%= background_cards.sample %>" style="width: 18rem;">
      <div class="card-body">
        <h5 class="card-title"><%= link_to gossip.user.first_name, user_path(gossip.user) %></h5>
        <h6 class="card-subtitle mb-2 text-body-secondary"><%= gossip.title %></h6>
        <p>Voir le gossip : <%= link_to "ici", gossip_path(gossip) %></p>
        
        <!-- Ajoutez ces lignes pour les boutons like et unlike -->
        <%= button_to "Like", like_post_gossip_path(gossip), method: :post, class: "btn btn-primary" %>
        <%= button_to "Unlike", unlike_gossip_path(gossip), method: :delete, class: "btn btn-danger" %>
      </div>
    </div>
  <% end %>
</div>

</body>
</html>
