<!DOCTYPE html>
<html>
<head>
  <title>Liste des potins de <%= @user.first_name %></title>
</head>
<body>
<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <a class="navbar-brand" href="/">Accueil</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarText" aria-controls="navbarText" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarText">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item">
          <%= link_to "Users", users_path, class: "nav-link" %>
        </li>
        <li class="nav-item">
          <%= link_to "Gossips", gossips_path, class: "nav-link" %>
        </li>
        <li class="nav-item">
      <li><%= link_to "New Gossip", new_gossip_path, class: "nav-link" %>
        <li class="nav-item">
          <%= link_to "Tags", tags_path, class: "nav-link" %>
        </li>
      </ul>

      <ul class="navbar-nav ml-auto">
        <li class="nav-item">
          <%= link_to "Notre équipe", team_path, class: "nav-link" %>
        </li>
        <li class="nav-item">
          <%= link_to "Contact", contact_path, class: "nav-link" %>
        </li>
      </ul>
    </div>
  </nav>
  <h1>Liste des potins de <%= @user.first_name %></h1>
  <ul>
    <% @gossips.each do |gossip| %>
      <li><%= gossip.title %></li>
      <!-- Affichez d'autres informations sur le potin au besoin -->
    <% end %>
  </ul>
</body>
</html>
