<!DOCTYPE html>
<html>
<head>
  <title>Détails de la ville</title>
</head>
<body>
<h1>Détails de la ville</h1>

<h2><%= @city.name %></h2>

<h3>Potins écrits par les utilisateurs associés à la ville</h3>
<div class="card-container">
  <% @city.gossips.each do |gossip| %>
    <div class="card" style="width: 18rem;">
      <div class="card-body">
        <h5 class="card-title"><%= link_to gossip.user.first_name, user_path(gossip.user) %></h5>
        <h6 class="card-subtitle mb-2 text-body-secondary"><%= gossip.title %></h6>
        <p class="card-text"><%= gossip.description %></p>
        <%= link_to "Voir le gossip", gossip_path(gossip), class: "nav-link" %>
      </div>
    </div>
  <% end %>
</div>
</body>
</html>
