<!DOCTYPE html>
<html>
<head>
  <title>Détails de la ville</title>
</head>
<body>
<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
<a class="navbar-brand" href="/">Accueil</a>
<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarText" aria-controls="navbarText" aria-expanded="false" aria-label="Toggle navigation">
  <span class="navbar-toggler-icon"></span>
</button>

<div class="collapse navbar-collapse" id="navbarText">
  <ul class="navbar-nav mr-auto">
    <li class="nav-item">
      <%= link_to "Users", users_path, class: "nav-link" %>
    </li>
    <li class="nav-item">
      <%= link_to "Gossips", gossips_path, class: "nav-link" %>
    </li>
    <li class="nav-item">
      <%= link_to "New Gossip", new_gossip_path, class: "nav-link" %>
    </li>
    <li class="nav-item">
      <%= link_to "Tags", tags_path, class: "nav-link" %>
    </li>
    <li class="nav-item">
      <%= link_to "Cities", cities_path, class: "nav-link" %>
    </li>
    <li class="nav-item">
  </ul>

  <ul class="navbar-nav ml-auto">
    <li class="nav-item">
      <%= link_to "Notre équipe", team_path, class: "nav-link" %>
    </li>
    <li class="nav-item">
      <%= link_to "Contact", contact_path, class: "nav-link" %>
    </li>
  </ul>
</div>
</nav>

<h1>Détails de la ville</h1>

<h2><%= @city.name %></h2>

<h3>Potins écrits par les utilisateurs associés à la ville</h3>
<div class="card-container">
  <% @city.gossips.each do |gossip| %>
    <div class="card" style="width: 18rem;">
      <div class="card-body">
        <h5 class="card-title"><%= link_to gossip.user.first_name, user_path(gossip.user) %></h5>
        <h6 class="card-subtitle mb-2 text-body-secondary"><%= gossip.title %></h6>
        <p class="card-text"><%= gossip.description %></p>
        <%= link_to "Voir le gossip", gossip_path(gossip), class: "nav-link" %>
      </div>
    </div>
  <% end %>
</div>

</body>
</html>
